<div style="background-color: lightsalmon">
  <nav class="navbar navbar-expand-lg p-4" style="background-color: papayawhip">
    <a class="navbar-brand algn" href="#">AlgoViz</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle b px-4" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">
            Visualizer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]="visualizerComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Bubble Sort</a><br>
            <a [routerLink]="visualizerComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Selection Sort</a><br>
            <a [routerLink]="visualizerComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Insertion Sort</a><br>
            <a [routerLink]="visualizerComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Quick Sort</a><br>
            <a [routerLink]="visualizerComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Merge Sort</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-4" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">
            Quiz
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a [routerLink]="quizComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Easy</a><br>
            <a [routerLink]="quizComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Medium</a><br>
            <a [routerLink]="quizComponent.link" class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Hard</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-4" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">
            Interview Questions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="px-3" href="#" style="text-decoration: none; font-weight: bold; color: coral;">Questions</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="p-4">
    <p class="h2 py-2">Data Structures and Algorithms</p>
    <p class="h5">Fun Way to Learn DSA...</p>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-lg-5 p-4 bg-papaya rounded-20">
        <p class="h4">Quiz. Learn. Excel.</p>
        <p >Get ready to unleash your inner quiz master!<br> Quiz it Up!</p>
        <div class="components">
          <a [routerLink]="quizComponent.link" class="circle">
            <p class="fs-xxl fw-600">{{ quizComponent.label }}</p>
          </a>
        </div>
      </div>
      <div class="col-md-5 col-lg-5 p-4 bg-papaya rounded-20">
        <p class="h4">Visualize to Realize!</p>
        <p>Bring Algorithms to Life with Interactive Visualizations!</p>
        <div class="components">
          <a [routerLink]="visualizerComponent.link" class="circle">
            <p class="fs-xxl fw-600">{{ visualizerComponent.label }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom p-5">
    <a href="https://github.com/Shruti-Singh-00">Source Code <i class="fa fa-github"></i></a>
  </div>
</div>